.editableText:hover{outline:1px dashed grey;}
.editableToolbar:hover + * {outline: 1px dashed grey;}
.editableToolbar{}
.editableToolbar a.etText{font-size:10px;text-decoration:none;padding:2px 4px;}
.editableToolbar a.etButton{display:block;width:17px;height:15px;float:left;margin:2px;}
.editableToolbar .etEdit.etButton{background:url("icons.png");}
.editableToolbar .etSave.etButton{background:url("icons.png") -16px 0;}
.editableToolbar .etCancel.etButton{background:url("icons.png") 25px 0;}